.container-fluid,
.navbar-brand {
    width:100%;
    background-color: #191970;
    text-align:center;
    color:white;
    
    margin-bottom:30px;
    
}

#paper {
    width:35px;
    height:35px;
    float:left;
    position:relative;
    right:-230px;
    top:50px;
    
}
#Title { 
    font-family: 'Poppins', sans-serif;
    position:relative;
    right:-250px;
    padding-bottom:30px;
    top:35px;
    font-size:2em;
}


    
